FIREBASE_PROJECT_ID=billing--software
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@billing--software.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://billing--software-default-rtdb.firebaseio.com/
JWT_SECRET=your-secret-key-here
NODE_ENV=production
PORT=5003
